@import "./colors.module";


html{
  scrollbar-width: none;
  &::-webkit-scrollbar{ display: none; }
}

body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  text-align: center;
  margin: 0;
  @media (prefers-color-scheme: dark){
    color: $color-primary;
    background-color: #000;
  }
}

.layout{
  overflow: hidden;
  overflow-y: scroll;
  padding: 4vh 0 0;
  box-sizing: border-box;
  scrollbar-width: none;
  &::-webkit-scrollbar{ display: none; }
}

/* for lib/IntersectionObserver */
.hidden{ 
  opacity: 0;
  z-index: -2;
  transition: 400ms ease-in;
  
  &.visible{ 
    opacity: 1;
    z-index: -1;
  }
}


@media (prefers-color-scheme: dark){
  .shadow{
    box-shadow: 
    $box-shadaow -200px 0 250px 10px,
    $box-shadaow -100px 0 250px 20px,
    $box-shadaow -250px 0 250px 30px,
    $box-shadaow -250px 0 250px 40px,
    $box-shadaow -150px 0 250px 50px,
    $box-shadaow -150px 0 250px 60px,
    $box-shadaow -250px 0 250px 70px,
    $box-shadaow -250px 0 250px 80px,
    $box-shadaow 0 0 250px 90px,
    $box-shadaow -200px 0 250px 100px;
    position: fixed;
    &.top {
      width: 200%;
      height: 0;
      top: 0;
    }
    &.bottom {
      width: 200%;
      height: 0;
      bottom: 0;
    }
  }
}

.toast-viewport{
  position: fixed;
@media (max-width: 600px){
  top: 0;
  right: 0;
}
@media (min-width: 600px){
  bottom: 0;
  right: 0;
}
display: flex;
flex-direction: column;
padding: 1em;
gap: 10px;
max-width: 80vw;
margin: 0;
list-style: none;
z-index: 9;
outline: none;
}
