.dialogCard{
  position: fixed;
  z-index: 9;
  @media (max-width: 600px){
    bottom: 0;
    left:50%;
  }
  @media (min-width: 600px){
    top: 50%;
    left: 50%;
  }
  transform: translate(-50%, -50%);
  min-width: 85vw;
  max-width: 550px;
}
.dialogButton{
  position: fixed;
  z-index: 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.overlay{
  position: fixed;
  inset: 0;
  background-color: #0000009f;
  animation: overlayShow 200ms cubic-bezier(0.16, 1, 0.3, 1);
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}